.live-demo {
	&:not(.minimal) {
		background: hsl(220,10%,95%);
		color: black;
		font-size: 200%;

		& div.prism-live {
			background: hsl(200, 10%, 15%);
		}

		& pre.prism-live {
			background: hsl(200, 10%, 20%) linear-gradient(rgba(0,0,0,.1) 50%, transparent 0);
			background-origin: content-box;
			background-size: auto 3em;
			background-attachment: local;
			color: white;
		}

		&:not(.horizontal) {
			& textarea.prism-live {
				box-shadow: -.1em 0 .2em rgba(0,0,0,.3) inset;
			}
		}

		&.horizontal {
			& textarea.prism-live {
				box-shadow: 0 .1em .2em rgba(0,0,0,.3) inset;
			}
		}
	}

	& div.prism-live {
		& ::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}

		& ::-webkit-scrollbar-track {
			background: hsl(200, 10%, 30%);
		}

		& ::-webkit-scrollbar-corner {
			background: hsl(200, 10%, 25%);
		}

		& ::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background: hsla(0,0%,100%,.05);
			box-shadow: 0 0 .2em black;
		}

		& ::-webkit-scrollbar-thumb:vertical {
			background: hsla(0,0%,100%,.2);
		}

		& ::-webkit-scrollbar-thumb:hover {
			background: hsla(0,0%,100%,.3);
		}


		&.collapsed {
			& pre {
				opacity: .7;
			}
		}

	}
}