@import url("https://live-colors.verou.me/dist/index.css");

:root {
	--font-sans: Inter, "Helvetica Neue", Helvetica, system-ui, sans-serif;
	--font-serif: Vollkorn, "Hoefler Text", Garamond, serif;
	--font-cursive: Zapfino, "Apple Chancery", BrushScriptMT, cursive;
	--font-monospace: Consolas, Inconsolata, Noto Sans Mono, Source Code Pro, Roboto Mono, Menlo, Monaco, monospace;
	--font-mono: var(--font-monospace);

	--font-body: var(--font-sans);
	--font-heading: var(--font-body);

	/*
	 * Colors by visual appearance
	 */

	/* Pale versions of core colors */
	--percentage-pale: 20%;
	--color-green-pale: color-mix(in oklab, var(--color-green) var(--percentage-pale), canvas);
	--color-red-pale: color-mix(in oklab, var(--color-red) var(--percentage-pale), canvas);
	--color-aqua-pale: color-mix(in oklab, var(--color-aqua) var(--percentage-pale), canvas);

	/*
	 * Colors by semantic purpose
	 */
	--color-accent-1: var(--color-aqua);
	--color-accent-2: var(--color-green);
	--color-accent-3: var(--color-yellow);
	--color-accent-4: var(--color-magenta);

	/*
	* Images
	*/
	--background-checkerboard: repeating-conic-gradient(rgb(0 0 0 / .12) 0 25%, transparent 0 50%) 0 0 / 40px 40px;
}

html {
	background: var(--background-checkerboard) var(--color-neutral-95);
	font: 300 100%/1.5 var(--font-body);
	font-synthesis: none;
	font-kerning: normal;
	accent-color: var(--color-accent-1);
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	text-align: center;
	text-wrap: balance;
}

li {
	text-wrap: balance;
}

a {
	color: inherit;
	--text-decoration-opacity: 30%;
	text-decoration-color: color-mix(in lab, currentColor, transparent calc(100% - var(--text-decoration-opacity)));

	&:where(:not(:hover, :focus)) {
		text-decoration: none;
	}

	&:hover {
		--text-decoration-opacity: 50%;
	}

	&:where(:not(:has(:not(em, strong)))) {
		/* PLain text link */
		color: var(--color-blue-0);

		&:where(:visited) {
			color: var(--color-purple-0);
		}
	}
}

:focus:not(:focus-visible) {
	outline: none;
}

input:not([type=file]),
button,
select {
	font: inherit;
	color: inherit;
}

input:is(:not([type]), [type="text"], [type="email"], [type="tel"], [type="url"]),
textarea {
	padding: 0 .3em;
	border: 1px solid var(--color-neutral-70);

	&:invalid {
		border-color: var(--color-red);
		background: var(--color-red-pale);
	}
}

img, video, object {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

::selection {
	background: var(--color-accent-1);
	color: white;
	text-shadow: none;
}

.slide {
	--slide-padding: 2.5rem;

	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: var(--slide-padding);
	background: canvas;
	color: canvastext;

	@media (max-width: 1024px) {
		--slide-padding: 3vmin;
	}

	> h1,
	> h2:not(h1 ~ h2),
	> header > h1 {
		text-align: center;
		margin: 0 0 .6em;
		font-size: 200%;
	}

	> header > h1 {
		+ h2,
		+ p {
			margin-top: 0;
		}
	}

	h2 {
		font-size: 150%;
	}

	h3 {
		font-size: 100%;
		color: var(--color-neutral-50);
	}

	/* Plain slides, just a heading + a list */
	&.plain,
	&.dbpp /* Death By PowerPoint :) */ {
		/* Size of content cannot exceed size of heading */
		padding-inline: 3vw;
		box-sizing: content-box;
		overflow: clip;

		> :where(p, ul, ol) {
			font-size: 120%;
		}
	}
}

/* Quotes */
blockquote {
	--_accent-color: var(--accent-color, var(--color-accent-1));
	position: relative;
	font-style: italic;
	max-width: calc(80vw - 4.5em);
	margin-inline-start: 3em;
	line-height: 1.3;
	text-wrap: balance;
	hanging-punctuation: first allow-end last;

	&::before {
		content: "❝";
		position: absolute;
		right: 100%;
		top: -.25em;
		margin-right: .7rem;
		font-size: 300%;
		color: var(--_accent-color);
		font-style: normal;
	}

	.cite {
		margin-block-start: 1rem;
		text-align: right;
		font-style: normal;
		font-size: 60%;
		font-weight: bold;
		color: var(--_accent-color);

		&::before {
			content: "— "
		}

		a {
			color: inherit;

			&:not(:hover) {
				text-decoration: none;
			}
		}
	}
}

/* Keystrokes */
kbd {
	display: inline-block;
	padding: 0 .4em;
	border: 1px solid rgb(0 0 0 / .8);
	border-radius: .15em;
	box-shadow: 0 0 0 2px white inset, 0 .05em .2em rgb(0 0 0 / .5);
	color: black;
	background-color: hsl(0 0% 100% / .85);
	font: 70%/1.6 sans-serif;
	font-family: inherit;
	text-shadow: 0 1px 0 white;

	& + kbd {
		margin-inline-start: .1em;
	}
}

.dark {
	color-scheme: dark;
}

.light {
	color-scheme: light;
}

#indicator {
	opacity: .5;
}