:root {
	@supports (background: linear-gradient(in oklch, red, tan)) {
		--in-oklch: in oklch;
	}
}

/* Header slides, not whole deck cover */
header.slide:where(section > header) {
	--overlay-color: var(--color-accent-1);
	--background: radial-gradient(transparent, var(--overlay-color) 30%), var(--cover-image) center / cover;
	--fallback-background: linear-gradient(to bottom right var(--in-oklch,),
			var(--color-magenta),
				var(--color-aqua),
					var(--color-green),
				var(--color-aqua),
			var(--color-magenta));
	background: var(--background, var(--fallback-background));
	background-blend-mode: hue;

	> h1 {
		margin: auto;
		padding: .5em .7em;
		color-scheme: dark;
		background: canvas;
		color: canvastext;
		text-align: center;
		font-size: 250%;
		line-height: 1.2;
		font-weight: 300;
	}

	/* Nested sections */
	&:where(section section *) {
		--fallback-background: linear-gradient(to bottom right var(--in-oklch,),
			var(--color-green),
				var(--color-aqua),
					var(--color-yellow),
				var(--color-aqua),
			var(--color-green));
		--overlay-color: var(--color-accent-2);
	}
}