/* Full image slides */
.image.slide {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: center / cover no-repeat black;
	image-rendering: crisp-edges;

	&.bottom-heavy {
		justify-content: start;
		background-position: center bottom;
	}

	&.top-heavy {
		background-position: center top;
	}
}

.caption,
h1:is(.image.slide > h1):only-child {
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	width: 100%;
	padding: .2em 0;
	margin: 0;
	/* margin-top: calc(50vh - 1em); */
	text-align: center;
	color: white;
	background: rgb(0 0 0 / .2);
	-webkit-backdrop-filter: blur(9px);
	backdrop-filter: blur(9px);
	text-shadow: 0 .05em .1em rgb(0 0 0 / .3);
	font-family: inherit;
	font-weight: inherit;
	font-size: 200%;
	line-height: 1.2;
	text-shadow: none;

	.top-heavy.slide > & {
		position: fixed;
		left: 0; right: 0;
		bottom: .5in;
	}

	.bottom-heavy.slide > & {
		margin: .5in 0 0;
	}

	h1 {
		font: inherit;
		margin-bottom: 0;

		& + a {
			font-size: 30%;
			display: block;
			text-shadow: inherit;
		}
	}
}